.chat {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.chat__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  flex: 1;
  border-bottom: 1px solid rgb(236, 232, 232);
}

.chat__details > h4 {
  font-weight: 500;
}

.chat__details > p {
  color: gray;
  font-size: 14px;
}

.chat__timestamp {
  color: lightgray;
  font-size: 14px;
}
